body {
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    margin: 0;
    height: 100px;
    background-image: url('/assets/img/wall.png');
    background-repeat: repeat-x;
    h1 {
        font-size: 60px;
        font-weight: 900;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
}
.jumbotron {
    background-image: url('./img/cork.png');
    display: flex;
    justify-content: center;
    padding-bottom: 3.5rem;
    .jumbo-container {
        width: 60%;
    }
}

.polaroid-card {
    position: relative;
    background: white;
    padding: 0 15px;

    .pin {
        width: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
    }
    p {
        margin-bottom: 0;
    }
    .date {
        font-family: 'Sometype Mono', monospace;
        color: gray;
    }
    .card-img-top {
        width: 100%;
    }
    .card-title {
        font-weight: 900;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        max-width: 600px;
        max-height: 600px;
    }

    .CloseBtn {
        position: absolute;
        top: 7%;
        border: none;
    }
}

/* classe hidden per nascondere l'overlay */
.overlay.hidden {
    display: none;
}



/* Milestone 1

Facciamo in modo di creare un overlay che copra l’intera pagina e all’interno, centrata, disponiamo un’immagine qualunque ed un button di chiusura.

Milestone 2

Facciamo sparire l’overlay con l’aiuto di una classe CSS che imposti il display: none .

Dopodiché facciamo sì che cliccando una qualunque foto. L’overlay ricompaia.

Cliccando invece il button di chiusura, l’overlay scompare nuovamente.

Milestone 3

Inseriamo il pezzo di logica finale: quando una foto viene cliccata, dobbiamo fare in modo che sia proprio quella foto a essere mostrata all’interno dell’overlay.

Ci sono diversi modi di farlo, prova a sperimentare 🙂

Bonus

Spostandosi col mouse sopra le foto, queste si zoommano, ruotano di 10 gradi e la loro ombra aumenta, il tutto in manierà fluida. Inoltre il mouse diventa un puntatore, per far capire all’utente che può cliccare */